@page "/"
<PageTitle Title="Brian Hoem's Portfolio" />
<div>
    <h1 class="display-4">Welcome</h1>
    <h2>About Me:</h2>
    <div style="display:flex; justify-content:center">
        <img src="bhoem.jpg" />
    </div>
    <p>Hello, my name is Brian Hoem, and I am a software and video game engineer. I graduated with a BS degree in Game Design and Engineering at Cogswell, and already have a few games and projects under my belt.  Click on the tabs above to check out my work!</p>
    <h2>Find Me On:</h2>
    Github:<br />
    <a href="https://github.com/ZornTaov">https://github.com/ZornTaov</a>
    <br />
    Linkedin:<br />
    <a href="https://www.linkedin.com/in/brianhoem/">https://www.linkedin.com/in/brianhoem/</a>
    <br />
</div>