@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>About Me:</h2>
    <div style="display:flex; justify-content:center">
        <img src="~/bhoem.jpg" />
    </div>
    <p>Hello, my name is Brian Hoem, and I am a software and video game engineer. I graduated with a BS degree in Game Design and Engineering at Cogswell, and already have a few games and projects under my belt.  Click on the tabs above to check out my work!</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
