<!-- <title>BHoem's Final Project Game</title>
	<meta property="og:image" content="../GnG Final Preview.png">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> -->

<div id="text">Click on the field to aim and shoot.
    Click and Drag off the field to rotate the Camera.
    P to autoplay. R to Reset. C to reset Cue.
    A to show arrows. D to Pause. S to Step.
    H to show this again. ? to show FPS.
</div>

<div id="Score1">Player 1: 0</div>
<div id="Score2">AI: 0</div>