/* You can add global styles to this file, and also import other style files */
body {
    background-color: #00a658;
}
h1 {
    font-size: 2em;
    color: #5a00a8;
    background-color: #fff;
    padding: 1em 1em;
    text-align: center;
}
