<h1>Brian Hoem's Homepage</h1>
<div id="mainbody">

    <section>
        <h2>Mecha Bash Battle:</h2>
        <p>A game based around modular fighting robots made for the Game Design 2 class at Cogswell
            Polytechnical College. Made in Unity and C# using the Invector Melee system.</p>
        
        <zornco-youtube-embed hash="PMZinsavqCE"></zornco-youtube-embed>
    </section>

    <section>
        <h2>Ruined Maze Runner:</h2>
        <p>A game based around a maze generator of my own design made for the Level Design 1 class
            at Cogswell Polytechnical College. Made in Unity and C# using the Invector Melee system.</p>

        <zornco-youtube-embed hash="dk0CzvgunWE"></zornco-youtube-embed>
    </section>

    <section>
        <h2>Under Maintenence</h2>
        <p>This VR game was made for Stanford Childerens Hospital during Game Studio 1 at Cogswell
            Polytechnical College where the entire class worked on it together. I worked on it as an Engineer and I
            created
            most of the first Minigame and I worked on the movement and interaction systems.</p>

        <img src="assets/media/Minigame 1.png" alt="Minigame 1" height=50% width=50% />
        <img src="assets/media/hands.png" alt="hands" height=50% width=50% />
    </section>

    <section>
        <h2>Links</h2>
        <ul style="list-style-type: none;">
            <li>
                <a href="https://www.linkedin.com/in/brianhoem/" target="_blank">My Linkedin page</a>
            </li>

            <li>
                <a href="https://github.com/ZornTaov" target="_blank">
                    <span>My Github that includes various projects I have worked on.</span>
                </a>
            </li>
            <li>
                <a href="http://hykkota.com/update/" target="_blank">
                    <span>Hykkota Launcher: A C# based Minecraft Modpack launcher created by Xylex Rayne and
                        myself.</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/ZornTaov/ZIRC/" target="_blank">
                    <span>ZIRC: A small IRC client that has Lua and TTS support, still a WIP.</span>
                </a>
            </li>
            <li>
                <a href="steam/steammarket.php" target="_blank">
                    <span>Search for Items on the Steam Market.</span>
                </a>
            </li>
            <li>
                <a href="steam/steammarketfabricator.php?name=zorntaov" target="_blank">
                    <span>See my inventory of fabricators I can make.</span>
                </a>
            </li>
        </ul>
    </section>
</div>