#mainbody {
    background-color: #fff;
    padding: 1em 1em 1em 1em;
    margin: 0 10vh;
}
h2 {
    font-size: 1.4em;
    color: #0600a8;
}
ul {
    text-align: center;
    background-color: #fff;
}
